<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 1. Load libraries -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/es6-shim.min.js"></script>
    <script src="lib/zone.js"></script>
    <script src="lib/Reflect.js"></script>
    <script src="lib/system.src.js"></script>

     <!-- 2. Configure SystemJS -->
    <script>
        System.config({
          packages: {
            scripts: {    // <--- right there
              format: 'cjs',
              defaultExtension: 'js'
            }
          }
        });

    </script>

    <script>
      System.import('app/boot')
            .catch(console.error.bind(console));
    </script>
  </head>
  <!-- 5. Display the application -->
  <body>
    <arduino-talk>Loading...</arduino-talk>
  </body>
</html>
