<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- 1. Load libraries -->
    <script src="lib/angular2-polyfills.js"></script>
    <script src="lib/Rx.umd.js"></script>
    <script src="lib/angular2-all.umd.js"></script>
    
    <!-- 2. Load our 'modules' -->
    <script src='app/arduino-talk.component.js'></script>
    <script src='app/boot.js'></script>
    
  </head>
  <body>
    {{{body}}}
  </body>
</html>
